* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #fff;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.btn-outline {
  border: 1px solid #333;
  background: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: linear-gradient(to right, #fefefe, #f4f3f0);
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 30px;
  color: #666;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.hero-image {
  position: relative;
}

.image-circle {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  background: #f3cbb7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: #fff;
  color: #555;
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card {
  position: absolute;
  bottom: -40px;
  left: 20px;
  background: #fff;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.stars i {
  color: gold;
}


.companies {
  text-align: center;
  padding: 50px 0;
}

.companies .logos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.companies img {
  height: 40px;
  opacity: 0.7;
}


.teachers {
  text-align: center;
  padding: 60px 80px;
}

.teachers h2 span {
  color: #4CAF50;
}

.teacher-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.teacher-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.teacher-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}
